@charset "utf-8";

@media (max-width: 768px) {
    /* layout */
    .inner {
        max-width: 738px;
    }
    /* grid tablet system */
    .l-grid-tablet-1-12 { width: 8.33333333%; }
    .l-grid-tablet-2-12 { width: 16.66666667%; }
    .l-grid-tablet-3-12 { width: 25%; }
    .l-grid-tablet-4-12 { width: 33.33333333%; }
    .l-grid-tablet-5-12 { width: 41.66666667%; }
    .l-grid-tablet-6-12 { width: 50%; }
    .l-grid-tablet-7-12 { width: 58.33333333%; }
    .l-grid-tablet-8-12 { width: 66.66666667%; }
    .l-grid-tablet-9-12 { width: 75%; }
    .l-grid-tablet-10-12 { width: 83.33333333%; }
    .l-grid-tablet-11-12 { width: 91.66666667%; }
    .l-grid-tablet-12-12 { width: 100%;}
    
    /* gnb */
    .gnb__item {
        margin-right: 20px;
    }
    /* home */
    .home__title h1 {
        font-size: 50px;
        white-space: nowrap;
    }
    .home__title p {
        font-size: 30px;
        text-align: right;
    }
    h2.title {
        text-align: center;
    }
    /* about-skills */
    .about-skills h2 {
        margin-bottom: 80px;
    }
    .about__keyword:nth-of-type(2) .about__keyword__item:nth-child(1) {
        left: 20%;
    }
    .about__keyword:nth-of-type(2) .about__keyword__item:nth-child(3) {
        left: 15%;
    }
    .about__keyword__item {
        font-size: var(--medium-font-size);
        position: absolute;
    }
    .about__keyword__item:nth-child(1) {
        /* top: 20%; */
        left: 26%;
    }
    .about__keyword__item:nth-child(2) {
        /* top: 28%; */
        left: 62%;
    }
    .about__keyword__item:nth-child(3) {
        /* top: 50%; */
        left: 20%;
    }
    .about__keyword__item:nth-child(4) {
        /* top: 56%; */
        left: 70%;
    }
    .about__keyword__item .balloon {
        /* visibility: visible; */
    }
    .about__keyword .about__keyword__item:nth-of-type(4) .balloon {
        left: 30px;
    }
    .about__keyword:nth-of-type(2) .about__keyword__item:nth-child(1) {
        left: 15%;
    }
    .about__keyword:nth-of-type(2) .about__keyword__item:nth-child(3) {
        left: 10%;
    }
    /* skills */
    .skills__progress__container {
        flex-wrap: wrap;
    }
    .skills__progress_item {
        margin-right: 50px;
        margin-bottom: 30px;
    }

    /* portfolio */
    /* publishing */
    .slider__content {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: .5rem;
        text-align: center;
    }
    .slider__view-container {
        display: block;
        text-align: center;
    }
    .slider__img {
        position: relative;
        height: 400px;
    }
    .slider__img img {
    }
    .slider__icons__photo {
        margin-left: 30px;
    }
    .slider__desc--title {
        margin-left: 35px;
    }
    .slick-center .slider__desc--title {
        font-size: 4rem;
    }
    .slick-center .slider__view-button {
        text-decoration: none;
        color: inherit;
        background: var(--bg-color);
        color: var(--desc-color);
        border-radius: .7rem;
        margin-top: .5rem;
        /* padding: 1rem .5rem; */
        width: 200px;
        text-align: center;
        /* display: block; */
        margin-left: 30px;
        margin-bottom: 20px;
        font-size: var(--medium-font-size);
    }
    .slick-center .slider__view-button:nth-of-type(1) {
        margin-bottom: 0;
    }

    /* design */
    .design__mockup {
        position: absolute;
        z-index: 9999;
        width: 600px;
        height: 800px;
        background: #fff;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        padding: 5rem;
        border-radius: 1rem;
    }
    .design__mockup__item {
        position: absolute;
        z-index: 9999;
        width: 500px;
        height: 700px;  
        overflow-y: scroll;
        background: #fff;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
    /* blog */
    .blog__layout {
        padding: 50px 0px 0px;
    }
    .blog__layout .cover {
        margin: .75rem;
    }
    .blog__layout .grid-desc {
        /* font-size: 1.6rem; */
        /* padding: 1rem; */
    }
    

    /* contact */
    form {
        display: block;
        /* border: 1px solid #000; */
        width: 100%;
    }
    .contact__wrap {
        text-align: center;
    }
    .contact__summit {
        margin: 0;
        width: 100%;
        text-align: center;
    }
    .contact__desc h1 {
        /* font-size: var(--medium-font-size); */
    }
    .contact__desc .sub__title {
        /* font-size: var(--regular-font-size); */
        margin: 0;
        text-align: center;
    }
    textarea[name="agree-document"] {
        /* margin-left: 0; */
    }
    label[for="personal-agree"] {
        width: 230px;
    }
    input[type="checkbox"] {
        /* margin-left: 0px; */
    }
    .contact__summit {
        /* margin-left: 0px; */
    }
    .contact__desc {
        color: var(--primary-color);
        width: 100%;
        margin: 50px 0;
    }
    .contact__desc:hover {
        /* display: none; */
        /* visibility: hidden; */
    }
    section:nth-of-type(5) {
        /* display: none; */
    }
}

@media (max-width: 480px) {
    /* layout */
    body {
        overflow-x: hidden;
    }
    .inner {
        max-width: 450px;
    }
    /* grid mobile system */
    .l-grid-mobile-1-12 { width: 8.33333333%; }
    .l-grid-mobile-2-12 { width: 16.66666667%; }
    .l-grid-mobile-3-12 { width: 25%; }
    .l-grid-mobile-4-12 { width: 33.33333333%; }
    .l-grid-mobile-5-12 { width: 41.66666667%; }
    .l-grid-mobile-6-12 { width: 50%; }
    .l-grid-mobile-7-12 { width: 58.33333333%; }
    .l-grid-mobile-8-12 { width: 66.66666667%; }
    .l-grid-mobile-9-12 { width: 75%; }
    .l-grid-mobile-10-12 { width: 83.33333333%; }
    .l-grid-mobile-11-12 { width: 91.66666667%; }
    .l-grid-mobile-12-12 { width: 100%;}
    /* gnb */
    .gnb {
        flex-direction: column;
        overflow: visible;
        /* background: red; */
        margin-top: 60px;
        overflow: hidden;
        height: 500px;
        transform: translateX(45px);
    }
    .gnb__item {
        width: 150px;
        visibility: hidden;
    }
    .gnb__item.visible {
        transform: translateX(20px);
        visibility: visible;
    }
    /* home */
    .home__title h1 {
        font-size: 3.5rem;
        white-space: nowrap;
    }
    .home__title p {
        font-size: 2rem;
        text-align: right;
    }
    /* about-skills */
    .about__keyword__item .balloon {
        display: none;
    }
    .about__keyword:nth-of-type(2) .about__keyword__item:nth-child(1) {
        left: 10%;
    }
    .about__keyword:nth-of-type(2) .about__keyword__item:nth-child(3) {
        left: 5%;
    }
    .about__keyword__item span:nth-of-type(1) {
        display: block;
    }
    .about__keyword__item:nth-child(1) {
        top: 20%;
        left: 10%;
    }
    .about__keyword__item:nth-child(2) {
        top: 28%;
        left: 70%;
    }
    .about__keyword__item:nth-child(3) {
        top: 60%;
        left: 2%;
    }
    .about__keyword__item:nth-child(4) {
        top: 56%;
        left: 80%;
    }
    .skills__progress__container {
        flex-direction: column;
    }
    /* publishing */
    .slick-center .slider__content--desc {
        /* margin-bottom: 100px; */
        top: 30%;
    }
    .slick-center .slider__desc--title {
        font-size: 3.6rem;
    }
    .slick-center .slider__view-button {
        display: block;
        /* margin-left: 100px; */
    }
    .slick-dots button{
        width: 60px;
    }
    /* contact */
    form {
        display: block;
        /* border: 1px solid #000; */
        width: 100%;
    }
    .contact__desc h1 {
        /* font-size: var(--medium-font-size); */
        font-size: 3rem;
    }
    .contact__desc .sub__title {
        font-size: 2rem;
        margin: 0;
        text-align: center;
    }
    section:nth-of-type(5) {
        /* display: none; */
    }
    /* footer */
    .footer__left .copy {
        width: 250px;
    }
}