@charset "utf-8";
@import "reset.css";
@import "common.css";

/* header */
#header {
    position: absolute;
    transition: .4s;
    width: 100%;
    height: 60px;
    z-index: 999;
    color: #fff;
    
}
#header .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    position: relative;
    /* overflow: hidden; */
}
#header.fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
#header.color {
    color: var(--desc-color);
    background: var(--bg-color);
    box-shadow: 0 0 5px rgba(0,0,0,0.8);
}

/* toggle */
.toggle {
    width: 30px;
    height: 23px;
    position: relative;
    z-index: 300;
    cursor: pointer;
}
.toggle span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 3px;
    border-radius: .5rem;
    background: #fff;
    transition: .3s;
    z-index: 999;
}
.toggle span.color {
    background: var(--desc-color);
}
.toggle span:nth-child(1){
    top: 0;
}
.toggle span:nth-child(2),
.toggle span:nth-child(3){
    top: 50%;
    transform: translateY(-50%);
}
.toggle span:nth-child(4){
    bottom: 0;
}
.toggle.active span:nth-child(1),
.toggle.active span:nth-child(4) {
    display: none;
}
.toggle.active span:nth-child(2) {
    transform: rotate(45deg);
}
.toggle.active span:nth-child(3){
    transform: rotate(-45deg);
}
/* gnb */
.gnb {
    display: flex;
    position: absolute;
    height: 100%;
    align-items: center;
    right: 0;
    top: 0;
    color: #fff;
    margin-right: 30px;
    overflow: hidden;
}
.gnb.color {
    color: var(--desc-color);
}
.gnb__item {
    transform: translateX(541px);
    transition: .5s;
    margin-right: 40px;
    font-size: 1.6rem;
    opacity: 0;
}
.gnb__item.visible {
    transform: translateX(0);
    opacity: 1;
}
.gnb__menu {
    display: block;
    text-align: center;
    line-height: 50px;
}

/* section.home */
section.home {
    position: relative;
    background: url(../images/section.home/homeBg.png) no-repeat center/cover;
}
section.home .inner {
    position: relative;
    height: 100vh;
}
section.home:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #000;
    opacity: .5;
}
.home__title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    z-index: 1;
}
.home__title h1 {
    font-size: 80px;
}
.home__title p {
    font-size: 50px;
    text-align: right;
}
.home__icon {
    position: absolute;
    color: #fff;
    top: 70%;
    z-index: 1;
}
.home__icon i {
    display: block;
    margin-bottom: 10px;
}
.home__scroll__img {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    animation: mouse-scroll 1s infinite ease-out;
    text-align: center;
}
.home__scroll__img:hover p {
    color: var(--primary-color);
}
.home__scroll__img p {
    font-size: 16px;
    color: #fff;
    margin-bottom: 10px;
}
@keyframes mouse-scroll {
    0% {
        bottom: 50px;
    }
    50% {
        bottom: 40px;
    }
    100% {
        bottom: 50px;
    }
}

/* >>>>>>>>>>>>>>>> */
/* section.about-skills */
.sub__title__tabs {
    text-align: center;
}
.sub__title__tab {
    display: inline-block;
    cursor: pointer;
}
.sub__title__tab.active {
    color: var(--primary-color);
}
.sub__title__tab:nth-child(1) {
    margin-right: 20rem;
}
section.about-skills {
    padding: 100px 0 100px 0;
    width: 100%;
}
section.about-skills .inner {
    position: relative;
}
/* common sub__title */
.sub__title {
    text-align: center;
}
.sub__title h3 {
    display: inline-block;
}
/* >>>>>>>>>> */
.sub__title h3:nth-of-type(1) {
    margin-right: 300px;
}
/* about */
.about-wrap {
    position: relative;
    height: 329px;
}
.about__photo {
    text-align: center;
    max-width: 100%;
}
.about__keyword:nth-of-type(2) .about__keyword__item:nth-child(1) {
    left: 30%;
}
.about__keyword:nth-of-type(2) .about__keyword__item:nth-child(3) {
    left: 27%;
}
.about__keyword__item {
    font-size: var(--medium-font-size);
    position: absolute;
}
.about__keyword__item:nth-child(1) {
    top: 20%;
    left: 35%;
}
.about__keyword__item:nth-child(2) {
    top: 28%;
    left: 58%;
}
.about__keyword__item:nth-child(3) {
    top: 50%;
    left: 30%;
}
.about__keyword__item:nth-child(4) {
    top: 56%;
    left: 63%;
}
.about__keyword__item .balloon {
    display: inline-block;
    width: 150px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    background: var(--bg-color);
    font-size: 1.6rem;
    color: var(--desc-color);
    border: 1px solid #000;
    border-radius: 10px 0 10px 10px;
    position: absolute;
    top: 40px;
    left: -100px;
    visibility: hidden;
}
.about__keyword .about__keyword__item:nth-of-type(2) .balloon,
.about__keyword .about__keyword__item:nth-of-type(4) .balloon 
{
    border-radius: 0 10px 10px 10px;
    left: 50px;
}
.about__keyword:nth-of-type(2) .about__keyword__item:nth-of-type(1) .balloon,
.about__keyword:nth-of-type(2) .about__keyword__item:nth-of-type(3) .balloon 
{
    left: -50px;
}
.about__keyword__item:hover .balloon {
    visibility: visible;
}
.about__keyword__item:hover img {
    filter: drop-shadow(0 0 5px yellow);
}
/* skills */
.skills {
    max-width: 1200px;
    margin: 0 auto;
    color: #fff;
}
.skills__title {
    height: 100px;
    display: flex;
    justify-content: space-between;
    padding: 5rem;
    align-items: center;
    cursor: pointer;
}
.skills__item {
    background: var(--primary-color);
}
.skills__desc {
    height: 500px;
}
.skills_icon {
    font-size: 5rem;
    transition: 300ms;
    margin-right: -10px;
}
.skills_icon.visible {
    transform: rotate(-180deg);
}
/* progress */
.skills__progress__container {
    display: flex;
    padding: 5rem;
    justify-content: space-around;
    background: #f6f7d4;
}
.skills__progress_item {
    text-align: center;
    color: var(--primary-color);
}
.skills__progress_item span {
    display: inline-block;
    font-size: 26px;
    margin-bottom: 20px;
}
.pie_progress {
    width: 120px;
    margin: 0px auto;
    font-size: 26px;
}
.pie_progress__svg svg ellipse {
    stroke: #ddd;
}
/* section.portfolio */
.portfolio {
    padding: 100px 0 100px 0;
    border-top: 1px solid #ddd;
}
.portfolio .sub__title {
    margin: 50px 0 50px 0;
    color: var(--title-color);
}
/* portfolio__publishing */

/* portfolio__design */
/* grid */
section.portfolio {
    border-bottom: 1px solid #ddd;
}
.portfolio__design .l-grid:after {
    content:"";
    display: block;
    clear: both;    
}
.portfolio__design .l-grid-item {
    float: left;
}
.portfolio__design .cover {
    padding-top: 100%;
    position: relative;
    margin: 0.75rem;
    border: 1px solid #eee;
    border-radius: 10px;
    overflow: hidden;
    transition: 200ms;
}
.portfolio__design .cover:hover {
    transform: rotate(-5deg) scale(1.1);
    position: relative;
    z-index: 1;
}
.portfolio__design .l-grid-item:nth-of-type(2n) .cover:hover {
    transform: rotate(5deg) scale(1.1)
}   
.portfolio__design .cover img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.design__modal {
    background: rgba(0,0,0,0.2);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 999;
    display: none;
}
.design__mockup {
    position: absolute;
    z-index: 9999;
    width: 1400px;
    height: 800px;
    background: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 5rem;
    border-radius: 1rem;
}
.design__mockup__item {
    position: absolute;
    z-index: 9999;
    width: 1300px;
    height: 700px;  
    overflow-y: scroll;
    background: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.modal__close__btn {
    position: absolute;
    z-index: 9999;
    top: 10px;
    right: 70px;
    width: 30px;
    height: 30px;
    font-size: 3rem;
    cursor: pointer;
}
.modal__close__btn:hover {
    color: var(--primary-color);
}
/* section.blog */
section.blog {
    padding: 100px 0;
    border-bottom: 1px solid #ddd;
}
section.blog .title {
    text-align: center;
}
.blog__layout {
    padding: 50px 150px 0px;
}
.blog__layout .l-grid:after {
    content:"";
    display: block;
    clear: both;    
}
.blog__layout .l-grid-item {
    float: left;
}
.blog__layout .cover {
    padding-top: 100%;
    position: relative;
    border: 1px solid #eee;
    border-radius: 10px;
    overflow: hidden;
    transition: all .3s ease;
    margin: 3rem;
}
.blog__layout .cover:hover {
    transform: translateY(-5px);
    box-shadow: 4px 12px 20px 6px rgb(0 0 0 / 18%);
}
.blog__layout .cover .blog__photo {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 70%;
    background: #000;
}
.blog__layout .cover img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.blog__layout .grid-desc {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 30%;
    background: #fff;
    padding: 3rem;
    font-size: var(--regular-font-size);
    font-family: 'noto-sans KR';
    font-weight: 600;
}
.blog__layout .cover:hover .grid-desc {
    text-decoration: underline;
}
/* section.contact */
section.contact {
    padding: 100px 0 100px 0;
}
section.contact .title {
    margin-bottom: 50px;
}
.contact__wrap {
    padding: 20px;
    border: 1px solid #eee;
}
form {
    display: inline-block;
    vertical-align: top;
    width: 40%;
    margin-right: -4px;
}
input {
    background: #eee;
    height: 40px;
    width: 300px;
    outline: none;
    border: none;
    margin-bottom: 10px;
    font-size: var(--regular-font-size);
}
textarea {
    border: none;
    outline: none;
    resize: none;
    margin-bottom: 10px;
    font-size: 1.5rem;
    font-weight: bold;
}
textarea[name="message"] {
    background: #eee;
    width: 300px;
    height: 200px;
}
textarea[name="agree-document"] {
    border: 1px solid #000;
    width: 300px;
    height: 50px;
    margin-left: 90px;
    margin-bottom: 30px;
    font-size: 1.4rem;
}
label {
    display: inline-block;
    width: 90px;
    height: 100%;
    font-size: var(--medium-font-size);
    vertical-align: top;
}
label[for="personal-agree"] {
    font-size: 16px;
    width: 300px;
    margin-bottom: 10px;
}
input[type="checkbox"] {
    width: 15px;
    height: 15px;
    margin-left: 90px;
    margin-top: 5px;
}
.contact__summit {
    width: 300px;
    margin-left: 90px;
    text-align: center;
}
input[type="submit"] {
    width: 120px;
    height: 40px;
    border-radius: 10px;
    cursor: pointer;
}
.contact__desc {
    display: inline-block;
    margin-top: 130px;
    width: 60%;
    text-align: center;
    transition: .5s;
}
.contact__desc:hover {
    color: var(--primary-color);
    transform: scale(1.1);
}
.contact__desc .align {
    border: 1px solid #000;
}
.contact__desc h1 {
    font-size: 50px;
}
.contact__desc .sub__title {
    text-align: left;
    margin-left: 75px;
}
/* footer */
footer {
    padding: 50px 0 50px 0;
    background: var(--bg-color);
    color: #fff;
}
footer .inner {
    display: flex;
    justify-content: space-between;
}
.footer__left .copy {
    font-size: var(--regular-font-size);
}
