@charset "utf-8";
@import "reset.css";
@import "common.css";


/* header */
#header {
    position: absolute;
    transition: .4s;
    width: 100%;
    height: 60px;
    z-index: 999;
    color: #fff;
    
}
#header .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    position: relative;
    /* overflow: hidden; */
}
#header.fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
#header.color {
    color: var(--desc-color);
    background: var(--bg-color);
    box-shadow: 0 0 5px rgba(0,0,0,0.8);
}

/* toggle */
.toggle {
    width: 30px;
    height: 23px;
    position: relative;
    z-index: 300;
    cursor: pointer;
}
.toggle span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 3px;
    border-radius: .5rem;
    background: #fff;
    transition: .3s;
    z-index: 999;
}
.toggle span.color {
    background: var(--desc-color);
}
.toggle span:nth-child(1){
    top: 0;
}
.toggle span:nth-child(2),
.toggle span:nth-child(3){
    top: 50%;
    transform: translateY(-50%);
}
.toggle span:nth-child(4){
    bottom: 0;
}
.toggle.active span:nth-child(1),
.toggle.active span:nth-child(4) {
    display: none;
}
.toggle.active span:nth-child(2) {
    transform: rotate(45deg);
}
.toggle.active span:nth-child(3){
    transform: rotate(-45deg);
}
/* gnb */
.gnb {
    display: flex;
    position: absolute;
    height: 100%;
    align-items: center;
    right: 0;
    top: 0;
    /* opacity: 0; */
    color: #fff;
    margin-right: 30px;
    overflow: hidden;
}
.gnb.color {
    color: var(--desc-color);
}
.gnb__item {
    transform: translateX(541px);
    transition: .3s;
    margin-right: 40px;
    font-size: 1.6rem;
}
.gnb__item.visible {
    transform: translateX(0);
    opacity: 1;
}
.gnb__menu {
    display: block;
    text-align: center;
    line-height: 50px;
}

/* section.home */
section.home {
    position: relative;
    background: url(../images/section.home/homeBg.png) no-repeat center/cover;
}
section.home .inner {
    position: relative;
    height: 100vh;
}
section.home:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #000;
    opacity: .5;
}
.home__title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    z-index: 1;
}
.home__title h1 {
    font-size: 80px;
}
.home__title p {
    font-size: 50px;
    text-align: right;
}
.home__icon {
    position: absolute;
    color: #fff;
    top: 70%;
    z-index: 1;
}
.home__icon i {
    display: block;
    margin-bottom: 10px;
}
.home__scroll__img {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    animation: mouse-scroll 1s infinite ease-out;
    text-align: center;
}
.home__scroll__img p {
    font-size: 16px;
    color: #fff;
    margin-bottom: 10px;
}
@keyframes mouse-scroll {
    0% {
        bottom: 50px;
    }
    50% {
        bottom: 40px;
    }
    100% {
        bottom: 50px;
    }
}

/* >>>>>>>>>>>>>>>> */
/* section.about-skills */
.sub__title__tabs {
    text-align: center;
}
.sub__title__tab {
    display: inline-block;
    cursor: pointer;
}
.sub__title__tab.active {
    color: var(--primary-color);
}
.sub__title__tab:nth-child(1) {
    margin-right: 20rem;
}
section.about-skills {
    padding: 100px 0 100px 0;
    width: 100%;
}
section.about-skills .inner {
    position: relative;
}
/* common sub__title */
.sub__title {
    text-align: center;
}
.sub__title h3 {
    display: inline-block;
}
/* >>>>>>>>>> */
.sub__title h3:nth-of-type(1) {
    margin-right: 300px;
}
.about-wrap {
    position: relative;
    height: 462px;
}
.about__photo {
    position: absolute;
    left: 37%;
    text-align: center;
}
.about__keyword:nth-of-type(2) .about__keyword__item:nth-child(1) {
    left: 29.2%;
}
.about__keyword:nth-of-type(2) .about__keyword__item:nth-child(3) {
    left: 25.8%;
}
.about__keyword__item {
    font-size: var(--medium-font-size);
    position: absolute;
}
.about__keyword__item:nth-child(1) {
    top: 23%;
    left: 35.2%;
}
.about__keyword__item:nth-child(2) {
    top: 34.5%;
    left: 62.7%;
}
.about__keyword__item:nth-child(3) {
    top: 51%;
    left: 29.8%;
}
.about__keyword__item:nth-child(4) {
    top: 56.5%;
    left: 64.2%;
}
.about__keyword__item img {
    padding-top: 5px;
}
.about__keyword__item .balloon {
    display: inline-block;
    width: 150px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    background: var(--bg-color);
    font-size: 1.6rem;
    color: var(--desc-color);
    border: 1px solid #000;
    border-radius: 10px 0 10px 10px;
    position: absolute;
    top: 40px;
    left: -100px;
    visibility: hidden;
}
.about__keyword .about__keyword__item:nth-of-type(2) .balloon,
.about__keyword .about__keyword__item:nth-of-type(4) .balloon 
{
    border-radius: 0 10px 10px 10px;
    left: 50px;
}
.about__keyword:nth-of-type(2) .about__keyword__item:nth-of-type(1) .balloon,
.about__keyword:nth-of-type(2) .about__keyword__item:nth-of-type(3) .balloon 
{
    left: -50px;
}
.about__keyword__item:hover .balloon {
    visibility: visible;
}
.about__keyword__item:hover img {
    filter: drop-shadow(0px 0px 3px yellow);
}
.skills {
    max-width: 1200px;
    margin: 0 auto;
    background: #50586C;
    color: #DCE2F0;
}
.skills__item:nth-of-type(1) .skills__title {
    background: url(../images/section.about.skills/soilBg-1.png);
}
.skills__item:nth-of-type(2) .skills__title {
    background: url(../images/section.about.skills/soilBg-2.png);
}
.skills__item:nth-of-type(3) .skills__title {
    background: url(../images/section.about.skills/soilBg-3.png);
}
.skills__title {
    height: 100px;
    display: flex;
    justify-content: space-between;
    padding: 5rem;
    align-items: center;
    cursor: pointer;
}
.skills__desc {
    height: 500px;
    /* padding: 1rem; */
    color: #50586C;
    background: #DCE2F0;
}
.skills_icon {
    font-size: 5rem;
    transition: 300ms;
    margin-right: -10px;
}
.skills_icon.visible {
    transform: rotate(-180deg);
}
/* progress */
.skills__progress__container {
    display: flex;
    padding: 5rem;
    justify-content: space-around;
}
.skills__progress_item {
    text-align: center;
    color: var(--point-color);
    /* margin-right: 70px; */
}
.skills__progress_item span {
    display: inline-block;
    font-size: 26px;
    margin-bottom: 20px;
}
.pie_progress {
    width: 120px;
    margin: 0px auto;
    font-size: 26px;
}

/* portfolio sider */
.portfolio {
    padding: 100px 0 100px 0;
}
.portfolio .sub__title {
    margin: 50px 0 50px 0;
    color: var(--title-color);
}
.slick__button {
    width: 150px;
}
.slider__button:hover {
    background: #012129;
}
.custom__slider {
    max-width: 700px;
    margin: 0 auto;
}
.slider__content {
    display: flex;
    margin-bottom: 30px;
}
.slider__img {
    flex: 1;
    border: 1px solid #000;
    width: 350px;
    height: 300px;
}
.slider__img img {
    border-radius: .5rem;
}
.slider__desc {
    width: 350px;
    height: 300px;
    display: flex;
    flex: 1;
    flex-direction: column;
    background: var(--bg-color);
    color: var(--desc-color);
}
.slider__desc__content {
    position: relative;
    margin: 3rem;
    height: 100%;
    line-height: 1;
}
.slider__desc__content h4 {
    font-size: var(--medium-font-size);
    font-weight: normal;
    margin-bottom: 30px;
}
.slider__desc__content p {
    font-size: var(--regular-font-size);
    line-height: 3rem;
}
.slider__buttons {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 90px;
    height: 40px;
    background: var(--primary-color);
    border-radius: 10px;
    font-size: var(--regular-font-size);
    line-height: 40px;
    text-align: center;
}
.slick__button:first-child {
    margin-right: var(--mb-1);
}

/* arrow */
.slick-prev,
.slick-next
{
    position: absolute;
    top: 35%;
    /* transform: translateY(-50%); */
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 0;
    border: none;
    background: transparent;
    cursor: pointer;
    padding-bottom: 70px;
}
.slick-prev {
    left: -5rem;
}
.slick-next {
    right: -5rem;
}
.slick-prev:after,
.slick-next:after{
    font-size: 6rem;
    color: var(--sub-color);
}
.slick-prev:after,
.slick-next:after{
    font-family: unicons-line;
}
.slick-prev:after {
    content: '\ec49';
}
.slick-next:after {
    content: '\eb9f';
}

/* progress */
.slick-dots {
    display: flex;
    justify-content: center;
    position: relative;
    cursor: pointer;
}
/* active된 dot */
.slick-dots li.slick-active button {
    background: var(--sub-color);
}
/* 나머지 dot */
.slick-dots li {
    /* margin-right: .5rem; */
    
}
.slick-dots li button {
    background: #999;
    width: 150px;
    height: 20px;
    font-size: 0;
    border: none;
    cursor: pointer;
}

/* portfolio__design */
/* grid */
.l-grid:after {
    content:"";
    display: block;
    clear: both;    
}
.l-grid-item {
    float: left;
}
.cover {
    padding-top: 100%;
    position: relative;
    margin: 0.75rem;
}
.cover img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.design__modal {
    background: rgba(0,0,0,0.2);
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 999;
    overflow-y: scroll;
}
.design__mockup {
    width: 850px;
    height: 5000px;
    position: absolute;
    z-index: 9999;
    left: 50%;
    transform: translate(-50%);
}
/* section.contact */
section.contact {
    padding: 100px 0 100px 0;
}
section.contact .title {
    margin-bottom: 50px;
}
.contact__wrap {
    padding: 20px;
    border: 1px solid #eee;
}
form {
    display: inline-block;
    vertical-align: top;
    width: 40%;
    margin-right: -4px;
}
input {
    background: #eee;
    height: 40px;
    width: 300px;
    outline: none;
    border: none;
    margin-bottom: 10px;
    font-size: var(--regular-font-size);
}
textarea {
    border: none;
    outline: none;
    resize: none;
    margin-bottom: 10px;
    font-size: 1.5rem;
    font-weight: bold;
}
textarea[name="message"] {
    background: #eee;
    width: 300px;
    height: 200px;
}
textarea[name="agree-document"] {
    border: 1px solid #000;
    width: 300px;
    height: 50px;
    margin-left: 90px;
    margin-bottom: 30px;
    font-size: 1.4rem;
}
label {
    display: inline-block;
    width: 90px;
    height: 100%;
    font-size: var(--medium-font-size);
    vertical-align: top;
}
label[for="personal-agree"] {
    font-size: 16px;
    width: 300px;
    margin-bottom: 10px;
}
input[type="checkbox"] {
    width: 15px;
    height: 15px;
    margin-left: 90px;
    margin-top: 5px;
}
.contact__summit {
    width: 300px;
    margin-left: 90px;
    text-align: center;
}
input[type="submit"] {
    width: 120px;
    height: 40px;
    border-radius: 10px;
}
.contact__desc {
    display: inline-block;
    margin-top: 130px;
    width: 60%;
    text-align: center;
}
.contact__desc .align {
    border: 1px solid #000;
}
.contact__desc h1 {
    font-size: 50px;
}
.contact__desc .sub__title {
    text-align: left;
    margin-left: 75px;
}
/* footer */
footer {
    padding: 50px 0 50px 0;
    background: var(--bg-color);
    color: #fff;
}
footer .inner {
    display: flex;
    justify-content: space-between;
}
.footer__left .copy {
    font-size: var(--regular-font-size);
}
